@import "normalize.styl"
@import "font.styl"

gris = #333333
gris2 = #818181
magenta = #FF0000

a
	text-decoration none

body
	font-family 'Varela Round'
	font-size 16px

.action
	color white
	margin-right .5em
	font-size 1.2em
	$:last-child
		margin-right 0
	&.gray
		color gris2 !important

.actions
	position absolute
	bottom 0
	right 0
	padding 1em
	background rgba(black, .3)
	left 0
	text-align right

.author
	color gris2

.button-menu 
	color gris
	left .5em
	margin-top -10px
	position absolute
	top 50%

.center-block
	margin 0 auto
	text-align center
	width 320px

.container 
	padding 1.4rem
	font-size 0
	text-align center

.description
	border-bottom 1px solid gris2

figure
	margin 0px

img
	vertical-align top

.header
	height 3.5em
	position relative
	border-bottom 1px solid gris2
	.title
		font-size 1.1em
		text-align center
		margin 0
		line-height 3.2em

.name 
	color gris

.menu 
	display none

.song 
	width 8rem
	display inline-block
	font-size 1rem
	margin-right 1em
	margin-bottom 1em
	text-align left
	& img
		width 128px
		height 128px
	&:nth-child(even)
		margin-right 0
	& p
		margin .5em 0

.padding
	padding 1em
	.play
		padding 1em 0

.playing
	$.small
		width 20em
	img 
		width 320px
		height 320px
	.image
		position relative

.progress
	margin 1em 0
	position relative
	.min
	.max
		font-size .8em
		top -5px
		position absolute
	.min
		left 0
	.max
		right 0
	.total
		height 5px
		background gris2
		width 75%
		border-radius 5px
		margin 0 auto
	.state
		height 5px
		background magenta
		width 30%
		border-radius 5px
		position relative
	.marker
		width 10px
		height 10px
		background gris
		border-radius 50%
		position absolute
		right 0
		top -2px



